.Blankpage{
    margin-top: 8vh;

}

.search-in{
    border:  3px solid rgb(88, 163, 238);
    border-radius: 10px;
    margin-top: 2vh;
    width: 20vh;
    height: 3vh;
    margin-left: 20vh;
}
.Search-btn{
  position: absolute;
    width: 20vh;
    height: 3vh;
}
.spa{
    margin-left: 20vh;
    padding: 3vh;
    cursor: pointer;
    
}
.spa button{
    border: none;
    background-color: rgb(34, 90, 247);
    height: 2.5vh;
    width: 4.3vh;
    padding: 0%;
  
  
    
   
}
.spa input{
   
 height: 3vh;
   border: none;
    height: 2.8vh;
    width: 20vh;
    
   
}
.spa .text{
    font-family: sans-serif;
    font-size: 80px;
    margin-left: 1vh;
}
::placeholder{
    padding: 10px;
}
.redline{
  
    color: rgb(255, 0, 0);
    border: 3px solid rgb(255, 0, 0);
}
.fa-search{
    color: rgb(255, 255, 255);
    font-size: xx-large;
}

.input-box{
    background-color:  rgb(34, 90, 247);
    border: 5px solid rgb(34, 90, 247);
    height: 3.2vh;
    width: 26vh;
    padding: 0%;
}

.blank{
    margin-left: 20vh;
    margin-top: 10vh;
    font-size: 50px;
    
}