
 .dashboard-main{
  display: flex;
 }
.side-menu{

  height: 3vh;
  width: 20vh;
}
.top-menu{
  box-shadow: 5px 12px 22px -18px rgba(0,0,0,0.75);
  border: 1px solid rgb(255, 255, 255)  ;
  height: 6vh;
  width: 100%;
  padding: 10px;

}

.top-menu input{
  padding-left: 2vh;
  height: 3vh;
  margin-top: 1vh;
  padding: 1vh;
  width: 30vh;
  padding-left: 10px;
  padding-right: 0%;
}
.top-menu button{
  margin-top: 1vh;
  width: 3vh;
  height: 3vh;
  padding-left: 0%;
}

#search-cntrl{
  
 border: none;
  background-color: rgb(234, 238, 238);
  margin-left: 3vh;
}

#button-addon2{
  display: grid;
  color: aliceblue;
  margin-right: 100vh;
  background-color: rgb(34, 86, 209);

}
.bellicon{

  color: rgb(124, 123, 122);
  font-size: xx-large;
  background: none;
  border: none;
  padding-right: 5vh;
}

.fa-search{
  padding: 2px;
  margin-top: 10px;
}

.mailicon{
  color: rgb(124, 123, 122);
  font-size: xx-large;
  background: none;
  border: none;
  padding: 15px;
  padding-right: 10vh;
}

.profile-icon{
  color: rgb(22, 51, 196);
  margin-right: 2vh;
  margin-top: 1vh;
  padding-left: 2vh;
  font-size: 100px;

 

}
.profile-name{
 margin-top: 2vh;

 

}
#Alert-bellicon{
  background:none;
  border: none;
}

#message-icon{
  margin-right: 5vh;
  background:none;
  border: none;
}
.alert-text{
  text-align: center;
  background-color: rgb(6, 84, 241);
  color: aliceblue;
}

.alert-box{

  width: 27vh;
  height: 29vh;
}

.date{
  font-size: larger;
  color: rgb(171, 171, 171);
  margin-left: 29px;
  margin-top: 20px;
}

.doc-icon{
  margin-top: 1vh;
  color: aliceblue;
  background-color: rgb(65, 111, 240);
  font-size: 60px;
  border: 1px solid rgb(60, 113, 237);
  padding: 3px;
}

.drop-mess{
margin: 1px;
padding-right: 10px;
}
.drop-mess:hover{
color: aliceblue;
}

.notify{
  position: absolute;
  font-size: x-large;
  padding: 2vh;
  overflow:auto
}
.alrt{
  color: rgb(220, 172, 11);
  background: none;
  border: none;
}

.dep{
  color: rgb(34, 151, 32);
  background: none;
  border: none;
}

.show-res{
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
cursor: pointer;
  font-size: x-large;
  text-align: center;
  margin-top: 2vh;
}
.show-res:hover{
  background-color: rgb(204, 211, 226);
  color: rgb(137, 196, 249);
}


.last{
  margin: 1vh;

}